html, body {
    height: 100%;
    background-color: #121621;
    color: #F6B200;
    font-family: 'Raleway', sans-serif;
}

.container {

}

ul li a {
    color: white;
    display: block;
    padding: 0 15px;

}

ul li a:hover {
    color: #F6B200;
    text-decoration: underline;
}

#notflix-icon {
    font-size: 40px;
    font-weight: bold;
}

#button-add {
    color: #121621;
    font-weight: bold;
    background: #F6B200;
    border: transparent;
}

input#add-title {
    display: block;
    border: transparent;
    background: #272b36;
    padding: 0 30px;
}

select#rate-movie {
    background: #272b36;
    border: transparent;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-img-top {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #F6B200;
}




/*LOADING ANIMATION CSS*/
@-webkit-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#loading {
    text-align: center;
    margin: 100px 0 0 0;
}

#loading span {
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: opacity;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
}

#loading span:nth-child(2) {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
}

#loading span:nth-child(3) {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
}

/*LOADING ANIMATION CSS*/

